<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mayaaの整理</title>
</head>
<body>
	<h1><span id="title">Mayaaの整理1</span></h1>
	<h2><span id="mokuteki">本ページの目的1</span></h2>
		<p><span id="gaiyo">概要1</span></p>
	<h2><span id="jyunbi">準備編1</span></h2>
        <ul>
			<li><a id="kankyo" href="kankyo">環境構築(SAStruts+Mayaa)1</a></li>
        </ul>
	<h2><span id="kihon">基本編1</span></h2>
		<ul>
			<li><a id="write" href="write">値の出力(m:write)1</a></li>
			<li><a id="echo" href="echo">タグの出力・加工(m:echo, m:attribute)1</a></li>
			<li><a id="if" href="if">条件分岐(m:if)1</a></li>
			<li><a id="for" href="for">繰り返し(m:for)1</a></li>
			<li><a id="forEach" href="forEach">繰り返し(m:forEach)1</a></li>
			<li><a id="with" href="with">処理をまとめる(m:with)1</a></li>
			<li><a id="comment" href="comment">コメントを出力(m:comment)1</a></li>
			<li><a id="element" href="element">指定したタグを出力(m:element)1</a></li>
			<li><a id="formatDate" href="formatDate">日付のフォーマット出力(m:formatDate)1</a></li>
			<li><a id="formatNumber" href="formatNumber">数値のフォーマット出力(m:formatNumber)1</a></li>
			<li><a id="doBase" href="doBase">(m:doBase)1</a></li>
			<li><a id="doBody" href="doBody">(m:doBody)1</a></li>
			<li><a id="doRender" href="doRender">(m:doRender)1</a></li>
			<li><a id="beforeRender" href="beforeRender">事前処理(m:beforeRender)1</a></li>
			<li><a id="afterRender" href="afterRender">事後処理(m:afterRender)1</a></li>
			<li><a id="insert" href="insert">(m:insert)1</a></li>
			<li><a id="exec" href="exec">(m:exec)1</a></li>
			<li><a id="ignore" href="ignore">(m:ignore)1</a></li>
			<li><a id="null" href="null">(m:null)1</a></li>
		</ul>
		<h3>JSPカスタムタグ</h3>
		<ul>
			<li><a id="link" href="link">リンク(s:link)1</a></li>
			<li><a id="radio" href="radio">ラジオボタン()1</a></li>
			<li><a id="checkbox" href="checkbox">チェックボックス()1</a></li>
		</ul>
	<h2><span id="ouyou">応用編1</span></h2>
		<ul>
			<li><a id="kyoutsu" href="kyoutsu">共通部品のコンポーネント化1</a></li>
			<li><a id="layout" href="layout">レイアウトの共有1</a></li>
			<li><a id="hyou" href="hyou">表1</a></li>
			<li><a id="hyou_ketsugo" href="hyou_ketsugo">表の行列結合1</a></li>
			<li><a id="hyou_botton" href="hyou_botton">表とボタン出力1</a></li>
			<li><a id="element_attribute" href="element_attribute">element+attribute1</a></li>
		</ul>
	<h2><span id="kakucho">Mayaaの自作1</span></h2>
	<form id="form" action="/action2" method="post">
		<input type="submit" id="submit" value="OK"/>
	</form>
</body>
</html>