<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>タグの出力・加工(m:echo, m:attribute)</title>
</head>
<body>
    <h3>タグの出力・加工(m:echo, m:attribute)</h3>
    <p id="echo">echoサンプル(文字を赤字にしました。)</p>
    <b>echo.html</b>
    <div style="padding: 10px; margin-bottom: 10px; border: 1px dotted #333333;">
    <pre><code>
&lt;html&gt;
&lt;head&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /&gt;
&lt;title&gt;タグの出力・加工(m:echo, m:attribute)&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h3&gt;表示&lt;/h3&gt;
    &lt;p id="echo"&gt;echoサンプル(文字を赤字にしました。)&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
    </div>
    <b>echo.mayaa</b>
    <div style="padding: 10px; margin-bottom: 10px; border: 1px dotted #333333;">
    <pre>
        <code>
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;m:mayaa xmlns:m="http://mayaa.seasar.org"&gt;
    &lt;m:echo m:id="echo" &gt;
       &lt;m:attribute name="style" value="color: #ff0000;"/&gt;
    &lt;/m:echo&gt;
&lt;/m:mayaa&gt;
</code></pre>
    </div>
    <b>EchoAction.java</b>
    <div style="padding: 10px; margin-bottom: 10px; border: 1px dotted #333333;">
    <pre>
        <code>
package sampleMayaa.action;

import org.seasar.struts.annotation.Execute;

public class EchoAction {
    @Execute(validator = false)
    public String index() {
        return "echo.html";
    }
}
</code></pre>
    </div>
</body>
</html>